/* other players */
.player h4 {
  margin: 0;
  padding: 0;
}

.player ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.player ul li {
  display: inline-block;
  margin: -50px -68px -52px -36px;
}

/* player cards */
.player-cards {
  list-style: none;
  margin: 0;
  padding: 0;
}

.player-cards li {
  display: inline-block;
  margin: 5px;
}

.card {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/95/UNO_cards_deck.svg');
  background-size: 119rem;
  width: 120px;
  height: 179px;
}

.card:hover {
  cursor: pointer;
}

.card.small {
  transform: scale(0.6);
}

.card.ultra-small {
  transform: scale(0.3);
}

.card.hidden {
  background-image: url('https://opengameart.org/sites/default/files/UNO-Back_0.png');
  background-size: cover;
}

/*
  Black cards
*/
.card.black.color {
  background-position: -1546px 0px;
}

.card.black.plus4 {
  background-position: -1546px -714px;
}

/*
  Red cards
*/
.card.red.zero {
  background-position: 0px 0px;
}

.card.red.one {
  background-position: -119px 0px;
}

.card.red.two {
  background-position: -238px 0px;
}

.card.red.three {
  background-position: -357px 0px;
}

.card.red.four {
  background-position: -476px 0px;
}

.card.red.five {
  background-position: -595px 0px;
}

.card.red.six {
  background-position: -714px 0px;
}

.card.red.seven {
  background-position: -833px 0px;
}

.card.red.eight {
  background-position: -951px 0px;
}

.card.red.nine {
  background-position: -1070px 0px;
}

.card.red.stop {
  background-position: -1189px 0px;
}

.card.red.direction {
  background-position: -1308px 0px;
}

.card.red.plus2 {
  background-position: -1427px 0px;
}

/*
  yellow cards
*/
.card.yellow.zero {
  background-position: 0px -179px;
}

.card.yellow.one {
  background-position: -119px -179px;
}

.card.yellow.two {
  background-position: -238px -179px;
}

.card.yellow.three {
  background-position: -357px -179px;
}

.card.yellow.four {
  background-position: -476px -179px;
}

.card.yellow.five {
  background-position: -595px -179px;
}

.card.yellow.six {
  background-position: -714px -179px;
}

.card.yellow.seven {
  background-position: -833px -179px;
}

.card.yellow.eight {
  background-position: -951px -179px;
}

.card.yellow.nine {
  background-position: -1070px -179px;
}

.card.yellow.stop {
  background-position: -1189px -179px;
}

.card.yellow.direction {
  background-position: -1308px -179px;
}

.card.yellow.plus2 {
  background-position: -1427px -179px;
}


/*
  green cards
*/
.card.green.zero {
  background-position: 0px -357px;
}

.card.green.one {
  background-position: -119px -357px;
}

.card.green.two {
  background-position: -238px -357px;
}

.card.green.three {
  background-position: -357px -357px;
}

.card.green.four {
  background-position: -476px -357px;
}

.card.green.five {
  background-position: -595px -357px;
}

.card.green.six {
  background-position: -714px -357px;
}

.card.green.seven {
  background-position: -833px -357px;
}

.card.green.eight {
  background-position: -951px -357px;
}

.card.green.nine {
  background-position: -1070px -357px;
}

.card.green.stop {
  background-position: -1189px -357px;
}

.card.green.direction {
  background-position: -1308px -357px;
}

.card.green.plus2 {
  background-position: -1427px -357px;
}

/*
  blue cards
*/
.card.blue.zero {
  background-position: 0px -535px;
}

.card.blue.one {
  background-position: -119px -535px;
}

.card.blue.two {
  background-position: -238px -535px;
}

.card.blue.three {
  background-position: -357px -535px;
}

.card.blue.four {
  background-position: -476px -535px;
}

.card.blue.five {
  background-position: -595px -535px;
}

.card.blue.six {
  background-position: -714px -535px;
}

.card.blue.seven {
  background-position: -833px -535px;
}

.card.blue.eight {
  background-position: -951px -535px;
}

.card.blue.nine {
  background-position: -1070px -535px;
}

.card.blue.stop {
  background-position: -1189px -535px;
}

.card.blue.direction {
  background-position: -1308px -535px;
}

.card.blue.plus2 {
  background-position: -1427px -535px;
}

/* Media query */
@media (max-width: 992px) {
  .card {
    transform: scale(0.9)
  }
}

@media (max-width: 768px) {
  .card {
    transform: scale(0.6)
  }

  .other-players .player {
    margin-left: -28px;
  }

  .player-cards li {
    margin: -16px;
  }
}
